@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

/* Hide scrollbars for that native app feel */
::-webkit-scrollbar {
  display: none;
}
